name: Branch
on:
  push:
    branches-ignore: [ main ]
  pull_request:
    branches-ignore: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  select_project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: check branch
        id: check-branch
        run: |
          docker network create nginx-proxy
          docker-compose up -d
          sleep 15
          docker cp `docker ps | grep jwilder | awk {'print $1'}`:/etc/nginx/conf.d/default.conf .
          cat default.conf
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 60
        with:
          limit-access-to-actor: true